{% extends "includes/base.html" %}
{% include 'header.html' %}

{% block title %} Perfil {% endblock %}

{% block content %}

<div class="bg-blue-gradient d-flex justify-content-start align-items-end vw-100 relative-banner">
    <div class="container-md mb-3">
        <div class="absolute-photo">
            <img class="circle" src="/static/images/user-no-picture.jpg" alt="Foto de perfil">
        </div>
    </div>
</div>

<div class="container-md " style="padding-top: 90px; padding-left: 50px;">
    <div class="d-flex align-items-baseline">
        <div style="padding-right: 80px;">
            <h2 class="">{{ user.username }}</h2>
            <p class=""> {{ user.birth }} anos</p>        
        </div>
    </div>
</div>


<div class="container">

    <div class="d-flex justify-content-between pt-4 pb-5">        

        <div class="d-flex col-4 pl-4">
            <div class="" style="padding-top: 15px;">

                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-phone pr-2" ></i>
                    <p>{{ user.whatsapp }}</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-envelope pr-2" ></i>
                    <p>{{ user.email }}</p>
                </div>
                
                    <div class="d-flex align-items-baseline">
                        <i class="blue-icon fa-solid fa-location-dot pr-2" ></i>
                        {% if student != None %}
                        
                            <p>Endereço: Rua {{ student.address.street }}, {{ student.address.number }}, {{ student.address.neighborhood }} - 
                            {{ student.address.city }}, {{ student.address.state }}, {{ student.address.zipcode }}</p>

                        {% else %}
                            <p>Região: XXX </p>
                        
                        {% endif %}
                    </div>
                            
            </div>
        </div>

        <div class="col-6">
            <iframe style="border-radius: 20px;border: 5px solid var(--blue-primary);" width="450px" height="300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.189028325982!2d-45.86974622561894!3d-23.272580251044594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdb502ed36c763%3A0x4efb58cb06015774!2sR.%20Elizabeth%20Avelino%20Munis%CC%80%2C%2042%20-%20Jardim%20Torrao%20de%20Ouro%2C%20S%C3%A3o%20Jos%C3%A9%20dos%20Campos%20-%20SP%2C%2012229-350!5e0!3m2!1sen!2sbr!4v1698232905627!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</div>




<div class="call-to-action-modo-carona">
    <div class="container-md d-flex justify-content-around align-items-center">
        <div class="col-10">
            <h3 class="text-white">Um call to action</h3>
            <button class="btn btn-outline-light">botão</button>    
        </div>
        <div class="col-2">
            <img src="/static/images/mulher-carro.png" alt="vetor mulher-carro" width="300px" height="250px">
        </div>
    </div>
</div>



<div>
    <div class="container-md pt-5 pb-5">
        <div class="d-flex">
            <h2 class="">Minhas Avaliações</h2>
            <a href="{{ url_for('user_blueprint.comentar', user_id=user.id) }}" class="ml-3 " data-bs-toggle="modal" data-bs-target="#avaliacaoModal">
                <button class="btn btn-primary p-2">Faça uma avaliação</button>
            </a>
            
            <div class="modal fade" id="avaliacaoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Avalie a carona de <b>{{ user.username }}</b></h3>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('user_blueprint.comentar', user_id=user.id) }}">


                                {{ commentForm.hidden_tag() }}
                                <div class="rating">
                                    <input type="radio" name="rating" value="5" id="star5"><label for="star5"></label>
                                    <input type="radio" name="rating" value="4" id="star4"><label for="star4"></label>
                                    <input type="radio" name="rating" value="3" id="star3"><label for="star3"></label>
                                    <input type="radio" name="rating" value="2" id="star2"><label for="star2"></label>
                                    <input type="radio" name="rating" value="1" id="star1"><label for="star1"></label>

                                </div>
                                <br><br>
                                
                                
                                <h5>Deixe um comentário</h5>
                                {{ commentForm.comment_text(class="form-control") }}
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <br>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </form>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>

        {% include 'card-comment.html' %}

    </div>
</div>

{% endblock %}



