{% extends "includes/base.html" %}
{% include 'header.html' %}

{% block title %} Meu perfil {% endblock %}

{% block content %}

<div class="bg-blue-gradient d-flex justify-content-start align-items-end vw-100 relative-banner">
    <div class="container-md mb-3">
        <div class="absolute-photo">
            <img class="circle" src="/static/images/user-no-picture.jpg" alt="Foto de perfil" width="170px" height="170px">

        </div>
    </div>
</div>

<div class="container-md " style="padding-top: 90px; padding-left: 50px;">
    <div class="d-flex align-items-baseline">
        <div style="padding-right: 80px;">
            <h2 class="">{{ carpool.username }}</h2>
            <p class=""> {{ carpool.age }} anos</p>        
        </div>

        <!-- <a href="#" class="pl-5">
            <button class="btn btn-primary btn-block btn-lg mb-3 d-grid justify-content-center align-items-center"><i class="fa-regular fa-paper-plane pr-2"></i>Enviar mensagem</button>
        </a> -->

        <div class="dropdown">
            <a class=" dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear fa-xl align-items-baseline"></i>
            </a>
          
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Editar</a>
              <a class="dropdown-item" href="{{ url_for('user_blueprint.logout') }}">Sair</a>
              <a class="dropdown-item" href="{{ url_for('user_blueprint.delete', id=carpool.id) }}">Deletar conta</a>
            </div>
          </div>

    </div>

</div>


<div class="container">

    <div class="d-flex justify-content-between pt-4 pb-5">        

        <div class="d-flex col-4 pl-4">
            <div class="" style="padding-top: 15px;">

                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-phone pr-2" ></i>
                    <p>{{ carpool.whatsapp }}</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-envelope pr-2" ></i>
                    <p>{{ carpool.email }}</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-location-dot pr-2" ></i>
                    <p>{{ carpool.zone }}</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <iframe style="border-radius: 20px;border: 5px solid var(--blue-primary);" width="500px" height="300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.189028325982!2d-45.86974622561894!3d-23.272580251044594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdb502ed36c763%3A0x4efb58cb06015774!2sR.%20Elizabeth%20Avelino%20Munis%CC%80%2C%2042%20-%20Jardim%20Torrao%20de%20Ouro%2C%20S%C3%A3o%20Jos%C3%A9%20dos%20Campos%20-%20SP%2C%2012229-350!5e0!3m2!1sen!2sbr!4v1698232905627!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>
</div>



<div class="container-md pb-5">
    <div class="d-flex">
        <div class="col-6">
            <h2>Veículo</h2>
            
            <div class="" style="padding-top: 15px;">

                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-car pr-2" ></i>
                    <p>{{ carpool.vehicle.model }} - {{ carpool.vehicle.type_vehicle }} ({{ carpool.vehicle.color }}) </p>
                </div>
                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-car pr-2" ></i>
                    <p>Placa {{ carpool.vehicle.license_plate }}</p>

                </div>
                <div class="d-flex align-items-baseline">
                    <i class="blue-icon fa-solid fa-car pr-2" ></i>
                    <p>Lugares disponíveis: {{ carpool.vehicle.number_seats }} </p>
                </div>
            </div>
        </div>
        <div class="col-5 justify-content-center">
            <div class="col-5 btn btn-outline-primary">Ar condicionado</div>
        </div>
    </div>
</div>


<div class="call-to-action-modo-carona">
    <div class="container-md d-flex justify-content-around align-items-center">
        <div class="col-10">
            <h3 class="text-white">Call to action</h3>
            <button class="btn btn-outline-light">....</button>    
        </div>
        <div class="col-2">
            <img src="/static/images/mulher-carro.png" alt="vetor mulher-carro" width="300px" height="250px">
        </div>
    </div>
</div>



<div>
    <div class="container-md pt-5 pb-5">
        <div class="d-flex">
            <h2 class="">Minhas Avaliações</h2>
        </div>
         
        {% include 'card-comment.html' %}

    </div>
</div>

{% endblock %}



