{% extends "includes/base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
  
<div class="bg-blue-gradient d-flex justify-content-center align-items-center vh-100 vw-100 ">
	
		<div class="col-4 card-sign-in p-2 d-flex justify-content-center">
			<div class="d-flex flex-column col-10 card-content">
    
				<img class="m-auto" src="/static/images/logo-blue.png" alt="logo-gon" width="280px" height="120px">
				<h5 class="mb-2 text-center text-grey ">Como quer fazer o seu cadastro?</h5>
				<br>

        <div class="mb-4 mt-4">
            <a href="{{ url_for('user_blueprint.register_student') }}"><button class="btn btn-primary btn-block btn-lg mb-3 d-grid justify-content-center align-items-center">Aluno</button></a>
            <a href="{{ url_for('user_blueprint.register_carpool') }}"><button class="btn btn-primary btn-block btn-lg">Carona</button></a>
        </div>

				<br>
				<p class=" mt-3 mb-0 text-center text-grey">Já possui uma uma conta?</p>
				<p class=" text-center text-grey">Faça seu <a class="text-primary" href="{{ url_for('user_blueprint.login') }}">login</a>.</p>
			</div>
		</div>
	
</div>

  
{% endblock %}


