{% extends 'includes/base.html' %}
{% include 'header.html' %}

{% block content %}
    <div class="bg-home d-flex justify-content-start align-items-end">

        <div class="sobreposicao-effect"></div>
        <div class="container-md " style="z-index: 9;">
            <div class="col-6">
                <h1 class="text-white">
                    Chegar até a sua instituição ficou mais fácil.
                </h1>
                <p class="text-white" style="font-size: 18px;">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex corporis autem odit officiis nisi magni, similique sunt esse temporibus.
                </p>
                <button class="btn btn-primary">Saiba mais</button>

            </div>  
        </div>
    </div>

{% endblock %}
